/* 
Project One page
Author : Aydan Shahaliyeva
Date : 14 /June /2023
Version : v.1
*/

/* ############################################### */
/* Root */
:root {
    --templateBgColor: rgb(43, 43, 43);
}

/* ############################################### */
/* Common Property */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

body {
    font-family: 'Manrope', sans-serif;
    line-height: 1.2;
    position: relative;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}

img:hover {
    opacity: 0.98;
    box-shadow: 1px 4px 1px rgba(0, 0, 0, 0.8);
    transition: 3s all;
    cursor: pointer;
}

i {
    font-size: 1.5rem;
}


.my_clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.myHeading {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 2rem;
    text-transform: uppercase;
    text-shadow: 0.4px -0.9px rgba(0, 0, 0, .9);
    opacity: 0.7;
}

/* my special style */
.fSize1 {
    font-size: 1rem
        /*  15px; */
}

/* Line-clamp style */
.line-clamps4 {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    display: -webkit-box;
    overflow: hidden;
}

.line-clamps5 {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    display: -webkit-box;
    overflow: hidden;
}

/* navbar style */
.dark_mode {
    background-color: var(--templateBgColor);
    color: #ffffff;
}

.searchDarkLogin {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 15px;
}

#listscroll li a.active {
    border: 1px solid white;
}

/* Header style */
header {
    background-image: url("./img/one.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 80vh;
    padding-top: 4rem;
}

/* Messages section style */
#messages {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#messages i {
    color: blue;
    font-size: 5rem;
}

/* Parallax section style */
#parallax {
    margin-top: 40px;
    background-color: transparent;
    background-image: url("../HtmlCssProje/img/one.jpg");
    background-size: cover;
    height: auto;
    padding: 2rem;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#parallax h2,
#parallax p {
    color: white;
}

/* Newspaper section style */
#newspaper {
    padding: 2rem;
}

#newspaper h2,
#newspaper p {
    color: black;
}

/* Blog section style */
#blog {
    background-color: #b5b8ff;
}

/* Contact section style */
#contact {
    margin-top: 2rem;
}

.mapouter {
    position: relative;
    text-align: right;
    width: 100%;
    height: 400px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 100%;
    height: 400px;
}

.gmap_iframe {
    width: 100% !important;
    height: 400px !important;
}

/* footer style */
footer {
    min-height: 10rem;
    width: auto;
    color: white;
}

/* back_top */
#back_top {
    position: fixed;
    right: 0;
    bottom: 0;
}

#back_top:hover {
    opacity: 0.8;
}

/* Media query */
@media screen and (max-width: 992px) {
    .searchDarkLogin {
        display: block;
        height: 385px;
    }
}